/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*Header/ Navs*/
.nav-pills{
    font-weight: 800;
    font-family: 'Ubuntu Condensed', sans-serif !important;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    font-style: normal;
    line-height: 2em;

}


.modal-title{
    font-family: 'Ubuntu Condensed', sans-serif, helvetica !important;
    color:#d35400 !important;
    text-decoration: none;
    letter-spacing: 1px;
    font-style: normal;
    text-transform: uppercase;
    text-align: center;
}
.modal-tag{
    font-family: 'Ubuntu Condensed', sans-serif !important;
    text-decoration: none;
    letter-spacing: 1px;
    font-style: normal;
    line-height: 2em;
    font-size: .5em;
    text-align: center;
    color:#3498db;
}
.jumbotron>button{
    margin-left: 47%;
    margin-right: auto; 
}

.jumbotron{
    margin-top: 0 !important;
    background:url(../img/wolf2.jpg) no-repeat 50% 70% ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 101%;
}
.jumbotron>h1{
    font-family: 'Ubuntu Condensed', sans-serif, helvetica !important;
    color:#d35400 !important;
    text-decoration: none;
    letter-spacing: 1px;
    font-style: normal;
    text-transform: uppercase;
}

.jumbotron > p{
    font-family: 'Ubuntu Condensed', sans-serif, helvetica;
    color: #3498db !important;
    font-weight: 500;
    line-height: 2em;
    letter-spacing: 1px;
}

/*About*/
.card {
  width: 320px;
  height: 500px;
  background-color: rgba(255, 255, 255, .6);
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0 0 5px 3px rgba(0,0,0,0.1), 2px 2px 8px rgba(0,0,0,0.1);
  }
.card-header{
height: 220px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
background: url(../img/wolf.jpg) center center;
background-size: cover;
}
.card-body {
    position: relative;
}
.tools{
    margin-left: 30px;
    margin-top: -15px;
}
.card-body>p{
    margin-top: -17px;
}
.card-body>img{
height: 100px;
width: 100px;
border-radius: 50%;
border: 3px solid rgba(255, 255, 255, .6);
position: absolute;
top: -50px;
left: 50%;
margin-left: -50px;
box-shadow: 0 6px 6px -4px rgba(0, 0, 0, .2);
}
.name {
font-family: 'Ubuntu Condensed', sans-serif, helvetica;
font-size: 32px;
text-align: center;
padding-top: 60px;
margin-bottom: 10px;
}
.description {
font-family: 'Ubuntu Condensed', sans-serif, helvetica; 
padding: 0 25px;
line-height: 1.5;
text-align: center;
margin-bottom: 25px;
}
.location {
font-size: 12px;
letter-spacing: 2px;
text-transform: uppercase;
text-align: center;
margin-top: 10px;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
/*HR*/
.style{
    padding:0;
    border:none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
.style:after{
    content: "§";
    display: inline-block;
    position: relative; 
    top: -0.7em;  
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}
/*Portfolio*/
.portfolio > h1{
font-family: 'Ubuntu Condensed', sans-serif !important;
text-decoration: none;
letter-spacing: 1px;
font-style: normal;
line-height: 2em;
text-transform: uppercase;
color: #3498db;
}
/*Contact*/
.container {
    max-width:400px;
    width:100%;
    margin:0 auto;
    position:relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
    background:#3498db;
    padding:25px;
    margin:50px 0;
}

#contact h3 {
    font-family: 'Ubuntu Condensed', sans-serif !important;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #34495e;
    display: block;
    font-size: 30px;
    font-weight: 400;
}

#contact h4 {
    font-family: 'Ubuntu Condensed', sans-serif !important;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #34495e;
    margin:5px 0 15px;
    display:block;
    font-size:13px;
}

fieldset {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
    width:100%;
    border:1px solid #CCC;
    background:#FFF;
    margin:0 0 5px;
    padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
    -webkit-transition:border-color 0.3s ease-in-out;
    -moz-transition:border-color 0.3s ease-in-out;
    transition:border-color 0.3s ease-in-out;
    border:1px solid #AAA;
}

#contact textarea {
    height:100px;
    max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background:#0CF;
    color:#FFF;
    margin:0 0 5px;
    padding:10px;
    font-size:15px;
}

#contact button[type="submit"]:hover {
    background:#09C;
    -webkit-transition:background 0.3s ease-in-out;
    -moz-transition:background 0.3s ease-in-out;
    transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
    outline:0;
    border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}
#email>a {
    text-transform: uppercase;
    color: #ecf0f1;
    background-color: whitesmoke;
    font-family:  'Ubuntu Condensed', sans-serif !important;
    float: right;
    margin-top: -10%;
}
/*Footer*/
footer{
    background-color:  #383737;
width: 100%;
height: 5.7%;
width: 101%
}
footer>h3{
    font-family: 'Ubuntu Condensed', sans-serif !important;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3498db;
    font-size: 1em;
}
footer>p{
    font-family: 'Ubuntu Condensed', sans-serif !important;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #3498db;
    font-size: 1em;
}









/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}